.scan-bluetooth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #5B62FF; /* Primary Blue */
  }
  
  .scan-bluetooth-page ion-button {
    margin-bottom: 1rem;
  }
  
  .scan-bluetooth-page ion-header {
    position: sticky;
    top: 0;
    background-color: #7278F2; /* Secondary Blue */
    z-index: 1;
  }
  
  .scan-bluetooth-page ion-title {
    color: white;
  }
  
  .scan-bluetooth-page ion-list {
    margin-top: 1rem;
    width: 100%;
  }
  
  .scan-bluetooth-page ion-item {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 0.5rem;
  }
  